html body{
    margin: 0;
    padding: 0;
    background-color: rgb(231, 235, 217);
    background-image: url("background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;

}

.open-btn{
    padding: 20px;
    background-color: rgb(65, 82, 79);
    width: 20%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-family: 'Yusei Magic', sans-serif;
    font-size: 20px;
    border: 1.5px solid black;
    border-radius: 6px;
}
.open-btn:hover{
    background-color: cadetblue;
    color: whitesmoke;
}

.modal{
    background-color: whitesmoke;
    padding: 30px;
    border-radius: 7px;
    font-family: 'Yusei Magic', sans-serif;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    z-index: 1;
}
.accept,.close-btn{
    padding: 15px;
    width: 30%;
    font-family: 'Yusei Magic', sans-serif;
    border-radius: 8px ;
    border: 1.5px solid black;
    font-size: 20px;


}
.close-btn{
    position: absolute;
    left: 65%;
    background-color: purple;
}
.close-btn:hover{
    background-color: pink;
    color: white;
}
.accept{
    background-color: green;
}
.accept:hover{
    background-color: rgb(154, 204, 154);
    color: white;
}
